<div class="container">

  <div ng-include="'components/header/header.html'"></div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 form-horizontal">

      <form name="searchForm" novalidate ng-disabled="isSearching" ng-submit="clickSearch()">
        <div class="form-group has-feedback">
          <alert type="danger" ng-show="searchForm.search.$invalid && search === cachedSearch">{{error_message}}</alert>
          <label class="sr-only" for="search">Enter Your Search: </label>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" ng-model="search" id="search" name="search" placeholder="Enter Your Search" ng-disabled="isSearching" required/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" ng-disabled="isSearching || searchForm.$invalid">{{isSearching && 'Searching...' || 'Search'}}</button>
            </span>
          </div>
        </div>
      </form>

      <div class="sk-spinner sk-spinner-pulse" ng-show="isSearching"></div>

      <ul class="list-unstyled {{isSearching && 'text-muted'}}" ng-model="tweets">
        <li ng-repeat="tweet in tweets" class="animate-repeat">
          <blockquote>
            <figure ng-if="tweet.entities.media">
              <a ng-repeat="object in tweet.entities.media" href="{{object.expanded_url}}" target="_blank">
                <img ng-if="(object.type === 'photo')" src="{{object.media_url_https}}" alt="Photo by {{tweet.user.name}}" class="img-responsive"/>
              </a>
            </figure>
            <p ng-bind-html="tweet.text | twitter_text | twemoji"></p>
            <footer>
              <cite><a href="http://twitter.com/{{tweet.user.screen_name}}" target="_blank" ng-bind-html="tweet.user.name | twemoji"></a> at <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="_blank">{{tweet.created_at | unixtime | date: 'medium' }}</a></cite>
            </footer>
          </blockquote>
        </li>
      </ul>

      <button class="btn btn-primary btn-block btn-lg" ng-click="clickLoadMore()" ng-disabled="isSearching" ng-show="tweets">Load More</button>

    </div>
  </div>

  <div ng-include="'components/footer/footer.html'"></div>

</div>
