.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
// endinjector

.jumbotron h1 {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;

  &::after {
    content: "#ashtangular";
    color: initial;
    font-family: Oswald, Impact, 'Arial Narrow', sans-serif;
    font-size: 63px;
    font-weight: 400;
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}

.sk-spinner-pulse.sk-spinner {
  background-color: darken(#428bca, 6.5%) !important;
  width: 200px;
  height: 200px;
  margin: -100px auto auto -100px;
  position: fixed;
  top: 50%;
  left: 50%;
}
