.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
// endinjector

body {
  font-family: Roboto, 'Helvetic Neue', Helvetica, Arial;
}

.jumbotron h1 {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;

  &::after {
    content: "#ashtangular";
    color: initial;
    font-family: Oswald, Impact, 'Arial Narrow', sans-serif;
    font-size: 63px;
    font-weight: 400;
  }
}

#backToTop.container {
  position: fixed;
  opacity: 0;
  top: 5px;
  left: 50%;
  -webkit-transition: .5s linear all;
  -transition: .5s linear all;
  z-index: 5;

  &.active {
    opacity: 1;
    -webkit-transition: .5s linear all;
    -transition: .5s linear all;
  }
}

@media (min-width: 768px) {
  #backToTop.container {
    margin-left: -375px;
  }
}
@media (min-width: 992px) {
  #backToTop.container {
    margin-left: -485px;
  }
}
@media (min-width: 1200px) {
  #backToTop.container {
    margin-left: -585px;
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}

.sk-spinner-pulse.sk-spinner {
  background-color: darken(#428bca, 6.5%) !important;
  width: 200px;
  height: 200px;
  margin: -100px auto auto -100px;
  position: fixed;
  top: 50%;
  left: 50%;
}

blockquote {
  &:hover {
    border-color: #ccc;
    background-color: #eee;
  }

  a img {
    margin: 1em auto;
  }

  a:first-child img {
    margin-top: 0;
  }
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  /*box-sizing:border-box;*/
  border-bottom: 1px solid white;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.animate-repeat.ng-enter {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  blockquote {
    border-color: lighten(darken(#428bca, 10%), 40%);
    background-color: lighten(#428bca, 40%);
  }
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
